# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log

# Build output
dist/
build/

# Environment variables
.env

# IDE and editor files
.vscode/
.idea/
.prettierrc
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Ignore everything in the assets directory
public/assets/*
!public/assets/bak/background.jpg

# But don't ignore the assets/img directory
!public/assets/img/

# In the assets/img directory, ignore everything
public/assets/img/*

# But don't ignore the netflix.png file
!public/assets/img/netflix.png

# But don't ignore the assets/json directory
!public/assets/json/

# In the assets/json directory, ignore everything
public/assets/json/*

# But don't ignore the template_links.json file
!public/assets/json/template.json