html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
    color: #424206;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #a4b07e 100px),
        repeating-linear-gradient(#42420655, #424206);
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
}

/* Add this to your existing styles.css */
.title-container {
    text-align: center;
    padding: 20px;
}

.title-container h1 {
    margin: 0;
}

#current-time {
    font-size: 1.2rem;
    margin-top: 5px;
    color: #424206;
}

.app-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.category-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    margin-bottom: 20px;
}

.category-title {
    font-size: 2em;
    color: #424206;
    margin-bottom: 1em;
    text-align: left;
}

.category-row {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 100%;
    overflow-x: scroll;
    overflow: hidden;
}

.card-container {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin: 10px;
}

.card {
    width: 100%;
    height: 200px;
    color: #fff;
    border: 1px solid #333;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
    box-sizing: border-box;
}

.card-name {
    font-size: 14px;
    color: #000;
    text-align: center;
    padding: 10px;
    width: 100%; /* This makes the .card-name span the full width of the .card */
    box-sizing: border-box; /* This includes the padding and border in the element's total width and height */
}

.card:focus {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    outline: none; /* Optional: remove the default outline on focus */
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.website-initial {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
}
